Assignment6/wsdl/separate/WorkflowRestrictedService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.6 in JDK 6. Modified version -->
<definitions targetNamespace="http://pad.polito.it/WorkflowRestricted"
	name="WorkflowRestrictedService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pad.polito.it/WorkflowRestricted">
	<types>
		<xs:schema>
			<xs:import namespace="http://pad.polito.it/WorkflowRestricted" schemaLocation="WorkflowRestrictedService_schema.xsd"/>
		</xs:schema>
    </types>
    
    <message name="GenericFault">
    	<part name="fault" element="tns:GenericFault" />
    </message>

	<message name="getWorkflowNames">
		<part name="parameters" element="tns:getWorkflowNames" />
	</message>
	<message name="getWorkflowNamesResponse">
		<part name="parameters" element="tns:getWorkflowNamesResponse" />
	</message>
	<message name="getWorkflows">
		<part name="parameters" element="tns:getWorkflows" />
	</message>
	<message name="getWorkflowsResponse">
		<part name="parameters" element="tns:getWorkflowsResponse" />
	</message>
	<message name="UnknownNames">
		<part name="fault" element="tns:UnknownNames" />
	</message>
	
	<message name="UnknownRoles">
		<part name="fault" element="tns:UnknownRoles"></part>
	</message>
	<message name="UnknownCode">
		<part name="fault" element="tns:UnknownCode"></part>
	</message>
	<message name="UnknownCodes">
		<part name="fault" element="tns:UnknownCodes"></part>
	</message>

	<message name="takeInCharge">
		<part name="parameters" element="tns:takeInCharge"></part>
	</message>
	<message name="takeInChargeResponse">
		<part name="parameters" element="tns:takeInChargeResponse"></part>
	</message>

	<message name="ActionFault">
		<part name="fault" element="tns:ActionFault"></part>
	</message>
	<message name="ActorFault">
		<part name="fault" element="tns:ActorFault"></part>
	</message>
	<message name="DifferentRole">
		<part name="fault" element="tns:DifferentRole"></part>
	</message>

	<message name="terminateAction">
		<part name="parameters" element="tns:terminateAction"></part>
	</message>
	<message name="terminateActionResponse">
		<part name="parameters" element="tns:terminateActionResponse"></part>
	</message>
	<message name="getProcessSummaries">
		<part name="parameters" element="tns:getProcessSummaries"></part>
	</message>
	<message name="getProcessSummariesResponse">
		<part name="parameters" element="tns:getProcessSummariesResponse"></part>
	</message>
	<portType name="WorkflowInfoPortType">
		<operation name="getWorkflowNames">
			<input message="tns:getWorkflowNames" />
			<output message="tns:getWorkflowNamesResponse" />
			<fault name="GenericFault" message="tns:GenericFault" />
		</operation>
		<operation name="getWorkflows">
			<input message="tns:getWorkflows" />
			<output message="tns:getWorkflowsResponse" />
			<fault message="tns:UnknownNames" name="UnknownNames" />
			<fault name="GenericFault" message="tns:GenericFault" />
		</operation>
		<operation name="getProcessSummaries">
			<input message="tns:getProcessSummaries"></input>
			<output message="tns:getProcessSummariesResponse"></output>
			<fault message="tns:UnknownCodes" name="UnknownCodes" />
			<fault message="tns:UnknownNames" name="UnknownNames" />
			<fault name="UnknownRoles" message="tns:UnknownRoles" />
			<fault name="GenericFault" message="tns:GenericFault" />
		</operation>
	</portType>
	<portType name="ProcessPortType">
		<operation name="takeInCharge">
			<input message="tns:takeInCharge"></input>
			<output message="tns:takeInChargeResponse"></output>
            <fault name="UnknownCode" message="tns:UnknownCode" />
            <fault name="ActionFault" message="tns:ActionFault" />
            <fault name="ActorFault" message="tns:ActorFault"></fault>
            <fault name="DifferentRole" message="tns:DifferentRole" />
            <fault name="GenericFault" message="tns:GenericFault" />
        </operation>
		<operation name="terminateAction">
			<input message="tns:terminateAction"></input>
			<output message="tns:terminateActionResponse"></output>
			<fault message="tns:UnknownCodes" name="UnknownCodes" />
			<fault message="tns:UnknownNames" name="UnknownNames" />
			<fault name="ActionFault" message="tns:ActionFault" />
			<fault name="GenericFault" message="tns:GenericFault" />
		</operation>
	</portType>
	<binding name="WorkflowInfoPortBinding" type="tns:WorkflowInfoPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getWorkflowNames">
			<soap:operation
				soapAction="http://pad.polito.it/WorkflowRestricted/getWorkflowNames" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="GenericFault">
				<soap:fault use="literal" name="GenericFault" />
			</fault>
		</operation>
		<operation name="getWorkflows">
			<soap:operation
				soapAction="http://pad.polito.it/WorkflowRestricted/getWorkflows" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UnknownNames">
				<soap:fault use="literal" name="UnknownNames" />
			</fault>
			<fault name="GenericFault">
				<soap:fault use="literal" name="GenericFault" />
			</fault>
		</operation>
		<operation name="getProcessSummaries">
			<soap:operation
				soapAction="http://pad.polito.it/WorkflowRestricted/getProcessSummaries" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UnknownCodes">
				<soap:fault use="literal" name="UnknownCodes" />
			</fault>
			<fault name="UnknownNames">
				<soap:fault use="literal" name="UnknownNames" />
			</fault>
			<fault name="UnknownRoles">
				<soap:fault use="literal" name="UnknownRoles" />
			</fault>
			<fault name="GenericFault">
				<soap:fault use="literal" name="GenericFault" />
			</fault>
		</operation>
	</binding>

	<binding name="ProcessPortBinding" type="tns:ProcessPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="takeInCharge">
			<soap:operation
				soapAction="http://pad.polito.it/WorkflowRestricted/takeInCharge" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UnknownCode">
				<soap:fault use="literal" name="UnknownCode" />
			</fault>
			<fault name="ActionFault">
				<soap:fault use="literal" name="ActionFault" />
			</fault>
			<fault name="ActorFault">
				<soap:fault use="literal" name="ActorFault" />
			</fault>
			<fault name="DifferentRole">
				<soap:fault use="literal" name="DifferentRole" />
			</fault>
			<fault name="GenericFault">
				<soap:fault use="literal" name="GenericFault" />
			</fault>
		</operation>
		<operation name="terminateAction">
			<soap:operation
				soapAction="http://pad.polito.it/WorkflowRestricted/terminateAction" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UnknownCodes">
				<soap:fault use="literal" name="UnknownCodes" />
			</fault>
			<fault name="UnknownNames">
				<soap:fault use="literal" name="UnknownNames" />
			</fault>
			<fault name="ActionFault">
				<soap:fault use="literal" name="ActionFault" />
			</fault>
			<fault name="GenericFault">
				<soap:fault use="literal" name="GenericFault" />
			</fault>
		</operation>
	</binding>
	<service name="WorkflowInfoService">
		<port name="WorkflowInfoPort" binding="tns:WorkflowInfoPortBinding">
			<soap:address location="WFINFO_REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
	<service name="ProcessService">
		<port name="ProcessPort" binding="tns:ProcessPortBinding">
			<soap:address location="PROC_REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
</definitions>

